# Core dependencies
streamlit
requests
pillow
google-generativeai
pandas
plotly

# MongoDB-related dependencies
pymongo[srv]==3.12  # Updated version, includes its own bson module
dnspython
bcrypt
certifi>=2023.5.7
python-dotenv
